:root {
  /*Custom properties*/
  --blanco: #FFF;
  --formulario-color: #8A0FF8;
  --footer: #4f52f7e0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

.contenedor {
  height: 10rem;
  min-width: 90%;
  width: 100%;
  background-color: var(--footer);
  display: flex;
  justify-content: space-between;
}

.contenedor__logo {
  background-color: transparent;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  /* border: 1rem; */
  width: 40rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  align-items: center;
  gap: 3rem;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}

@media (max-width: 768px) {
  .contenedor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  .contenedor__logo {
    background-color: transparent;
    color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 100%;
    font-size: 3rem;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 1rem;
  }
}